/* color set */
:root {
  --primary: #424242;
  --active: #0a5aee;
  --hover: #719ae6;
  --disable: #dbdbdb;
  --remove: #f14b4b;
}

/* Reset type number 경우 옆에 증가 감소 아이콘 삭제 */
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* common */
.fonz-10 {
  font-size: 10px;
}
.fonz-12 {
  font-size: 12px;
}
.fonz-14 {
  font-size: 14px;
}
.fonz-bold {
  font-weight: bold;
}

.product-section {
  max-width: 1200px;
  margin: 0 auto;
}
.product-inner {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding: 50px 0;
}

/* ######################### product ######################### */
/* image */
.product-inner .product-img {
  
}
.product-inner .product-img img {
  max-width: 100%;
  min-width: 500px;
  padding-left: 10%;
}

/* text */
.product-text {
  max-width: 400px;
  margin: 0 auto;
}
.product-name {
  text-align: center;
}

/* table */
.product-table {
  min-width: 100%;
  padding: 10px 0;
  border-bottom: 1px solid var(--primary);
}
.product-table th, 
.product-table td {
  font-weight: normal;
  color: var(--primary);
}
.product-table th {
  width: 100px;
  word-break: keep-all;
}
.product-table td {
  display: flex;
  padding-left: 20px;
}
.product-table .product-box {
  width: 50px;
  padding: 3px 0;
  text-align: center;
  border: 1px solid var(--primary);
  margin-right: 5px;
  cursor: pointer;
}
.product-table .product-box:hover {
  background-color: var(--hover);
}
.product-table .product-box.disable {
  background-color: var(--disable);
  color: #8a8a8a;
}
.product-table .product-box.active {
  background-color: var(--active);
  color: #fff;
}

/* items */
.product-item {
  display: flex;
  align-items: center;
  border-bottom: 1px solid var(--primary);
}
.product-item div {
  max-width: 212px;
  padding-right: 5px;
  flex: 5;
}
.product-item div h5 {
  margin: 5px 0;
  line-break: anywhere;
}
.product-item div p {
  margin: 5px 0;
}
.product-item span {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1px;
  padding: 1px;
  background-color: #000;
  flex: 1;
}
.product-item span input {
  grid-row: 2 span;
  width: 30px;
  border: none;
}
.product-item span button {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 10px;
  padding: 3px;
  border: none;
  background-color: #fff;
  font-size: 10px;
}
.product-item span button:hover {
  background-color: var(--disable);
  transition: .3s;
}
.product-item span button a {
  transform: scale(0.8);
  color: var(--primary);
}
.product-item > button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 15px;
  height: 15px;
  margin-left: 15px;
  border: 1px solid #000;
  border-radius: 0%;
  background-color: #fff;
}
.product-item > button:hover{
  background-color: var(--remove);
  transition: .3s;
}
.product-item > button > a {
  transform: scale(0.8);
}
.product-item > button:hover > a {
  color: #fff;
  transition: .3s;
}
.product-item label {
  flex: 2;
  text-align: right;
}

/* total */
.product-total {
  display: flex;
  justify-content: flex-end;
  align-items: baseline;
  padding-top: 40px;
  padding-bottom: 10px;
  border-bottom: 1px solid var(--primary);
}
.product-total span:nth-child(2) {
  margin-left: 10px;
  margin-right: 3px;
}
.product-btn {
  display: grid;
  padding-top: 10px;
  grid-template-columns: repeat(1, 1fr);
  gap: 5px 0px;
}
.product-btn li:first-child {
  padding: 20px 0;
  border: 2px solid var(--primary);
}
.product-btn li {
  width: 100%;
  padding: 10px 0;
  text-align: center;
  border: 1px solid var(--primary);
  cursor: pointer;
}
.product-btn li:hover {
  background-color: var(--disable);
  transition: .3s;
}
.product-btn li:first-child:hover {
  background-color: #000;
  color: #fff;
  transition: .3s;
}


/* ######################### description ######################### */
.description-section {
  display: flex;
  justify-content: center;
  border-top: 1px solid rgb(112, 112, 112);
  padding-top: 50px;
  margin: 0 50px;
}
.description-items {
  display: grid;
  width: 100%;
  align-items: center;
  grid-template-columns: repeat(1, 1fr);
  max-width: 900px;
  gap: 60px 0;
}
.description-item {
  position: relative;
  height: 900px;
  background-color: #e5e5e5;
}
.description-item::before {
  content: '900px × 900px 상품 설명란';
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 60px;
}
